
body {
    font-family: Arial, sans-serif;
    background-color: #0efe1e;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 50px auto;
}


.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #1e1c1c;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.cell:hover {
    background-color: #d8fd04;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #35b739;
}